<div *ngIf="team" class="card shadow-sm bg-light h-100" #teamDetailCard>
    <div class="card-header d-flex flex-row justify-content-between">
        <div>
            <h5 class="p-0 m-0">{{team | teamTitle }}</h5>
            <span class="card-subtitle text-small">
                {{team | teamConference}}
            </span>
        </div>
        <button class="btn btn-icon fs-3 p-0 m-0 border-0" type="button" (click)="onRemoveDetail()" id="remove{{team.abbreviation}}">&times;</button>
    </div>
    <div class="card-body">
        <div class="row col-12 pe-0">
            <div class="col-7 d-flex flex-column">
                <h6>Result of past 12 days:</h6>
                <div class="pb-3">
                    <span *ngFor="let game of games" class="game-status rounded-circle" [ngClass]="{'game-status-lost': !isWonGame(game)}">{{ game | gameTeamResult: team }}</span>
                </div>
                <h6>Avg pts scored: <b>{{avgScoredPoints}}</b></h6>
                <h6>Avg pts conceded: <b>{{avgConcededPoints}}</b></h6>
            </div>
            <div class="col-5 p-0">
                <img class="img-fluid" [src]="team.logoUrl"/>
            </div>
        </div>
    </div>
    <div class="col-12 px-2 pb-2">
        <button type="button" class="btn btn-success" id="results{{team.abbreviation}}" (click)="onShowResult()">See game results >></button>
    </div>
</div>
